/* Custom CSS */
.brand-logo {
	font-family: 'Damion', cursive;
}

.reload-button {
	background-image: url('../img/refresh.svg');
	background-size: cover;
	height:35px;
	width:35px;
}

.nopad {
	padding: 0;
}

.profile-overlay {
	background-image: url('https://avatars3.githubusercontent.com/u/9085100?v=3&s=460');
	background-size:cover;
	width:45px;
	height:45px;
	margin-top:8px;
	margin-left:10px;
}